.widget a {color:#329AC9;text-decoration:none;padding-left:10px}
.widget ul {list-style:url(img/bulletb.png) inside;padding-left:5px}
.categories a {color:#329AC9;text-decoration:none;padding-left:10px}
.categories ul {list-style:url(img/bulletb.png) inside;padding-left:5px}
.tabberlive .tabbertab a {padding-left:10px}
.tabbernav li {padding-top:10px;}
.right-widget ul {list-style:url(img/bulleta.png) outside;padding-left:25px;margin-left:30px;}